<ion-view view-title="Favoriten">
  <ion-content class="padding">
    <ion-list>
      <div ng-repeat="session in favList   | orderBy : ['doc.session','doc.track'] track by session.id"
           type="item-text-wrap"  class="row">
           <div class="col col-90">
                 <b>{{session.doc.name}} - {{session.doc.track}}S{{session.doc.session}}</b>
                 <p class="speaker">{{session.doc.speaker}}</p>
                 <p>{{session.doc.session | timeFilter}}</p>
                 <p ng-bind-html="session.doc.text"></p>
         </div>
         <div  class="col col-10">
           <span class="ion-trash-b trash"
           ng-click="unbookmark(session.id)"></span>

         </div>
         </div>
    </ion-list>
  </ion-content>
</ion-view>
