<ion-view view-title="Informationen">
    <ion-content class="padding">
        <ion-list>

            <div>
                <img id="ecLogo" src="img/logo-blute.png" alt="acceptIT" />
                <div class="padTop" >App für das EntwicklerCamp vom 11. bis 13. April 2016 in Gelsenkirchen</div>
                <div><a ng-href="http://www.entwicklercamp.de/" target="_system">http://www.entwicklercamp.de/</a></div>

            </div>

            <div id="logo">
                <img src="img/logo-grau512.png" alt="acceptIT" />
            </div>

            <div class="row padLeft">acceptIT&nbsp;GmbH</div>
            <div class="row padLeft">Klingenderstraße&nbsp;22</div>
            <div class="row spaceBottom padLeft">33100&nbsp;Paderborn</div>
            <div class="row spaceBottom padLeft">
                <a ng-href="tel:+495251693980">+49 52 51 / 6 93 98-0</a>
            </div>
            <div class="row spaceBottom padLeft">
                <a ng-href="http://www.accept-it.de" target="_system">http://www.accept-it.de</a>
            </div>
            <div class="row padLeft spaceBottom">
                <a ng-href="mailto:info@accept-it.de">info@accept-it.de</a>
            </div>
            <div class="padLeft">
                            <button class="button button-calm icon-left ion-refresh" ng-click="update()">Aktualisieren</button>
                        </div>

        </ion-list>
    </ion-content>
</ion-view>
